# ======================
# Python cache
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Build / packaging
# ======================
build/
dist/
*.spec
*.exe

# ======================
# Vault data (CRITICAL: NEVER COMMIT)
# ======================
vault.bin
vault.enc
vault_plain/
container_vault/
*.vault
*.vaultlock

# ======================
# OS / Editor
# ======================
.vscode/
.DS_Store
Thumbs.db
